@import "play.css";

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main > * {
    margin-top: 50px;
}

/* timer */
#timer-container {
    display: flex;
    justify-content: flex-end;
}

#timer {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
}

/* chat */
#chat {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 80vh;
    background-color: darkslategrey;
}

.bulle {
    width: 120px;
    padding: 15px;
    background-color: var(--bubble-bg-color);
    text-align: center;
    margin: 5px;

    display: flex;
    justify-content: center;
}

.bulle > p {
    font-size: 1rem;
}

.round {
    border-radius: 30px;
}

.bulle-texte {
    padding: 0.5em;
    text-align: center;
    line-height: 0.2em;
}

#info {
    margin-top: 10px;
    text-align: center;
}

#give-up-button:hover {
    background: var(--very-dark-accentuation-grey);
}

.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    height: 40px;
}


.chat-container > div {
    margin-left: 30px;
}

.chat-container > p {
    font-size: 1.3rem;
}

.send:hover {
    background-color: var(--bubble-bg-color-accentuation);
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#give-up-button {
    margin-bottom: 0;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chat-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--light-accentuation-grey);
    border-radius: 8px;
    padding: 10px;
}

#opponent-chat-container > p,
#player-chat-container > p {
    text-align: center;
}

#chat-display-container > div > div {
    margin: 20px;
}

#chat-temp-button {
    background: var(--dark-accentuation-grey);
}

#timer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttons-container2 {
    display: none;
}

#chat-temp-button {
    background-color: var(--light-accentuation-color)
}

#chat-temp-button:hover {
    background-color: var(--dark-accentuation-color);
}

#mute:hover {
    cursor: pointer;
}

burger-menu-open-close{
   display: none;
}

@media (width <= 480px) and (orientation: portrait) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    #grid-div {
        margin: 15px auto 0 auto;
    }
    main > * {
        margin-top: 15px;
    }

    #grid {
        margin: 0;
    }

    #timer-container {
        display: flex;
        justify-content: center;
    }

    #timer {
        text-align: center;
    }


    #chat-display-container{
        display:flex;
        flex-direction:row;
    }
}

@media (orientation: landscape) and (height <= 480px) {
    main * {
        font-size: 0.7rem;
    }

    header {
        display: none;
    }
    main > * {
        margin: 0;
    }
    #chat-display-container{
        display:flex;
        flex-direction:row;
    }
    #chat-display-container > div > div {
        margin: 3px;
    }

    #buttons-container{
        display: none;
    }
    #buttons-container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #timer{
        margin: 10px;
    }
    burger-menu-open-close{
        display: inline;
        padding: var(--icon-padding);
        width: var(--icon-width);
        aspect-ratio: 1/1;
    }
    #menu-div{
        background: var(--light-accentuation-grey);
    }
}
