@import "play.css";

#grid-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width <= 480px) and (orientation: portrait) {
    #quit-button {
        display: none;
    }

    #buttons-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    #give-up-button {
        margin: 50px 7vw
    }
}