/* discs */

:root{
    --disc-size: 9vh;
}

.grid-item {
    border-radius: 50%;
    background-color: white;
    height: var(--disc-size);
    aspect-ratio: 1/1;
    margin: 0.5vh;
    cursor: pointer;
}

.yellow-disc {
    background-color: yellow;
    height: var(--disc-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.red-disc {
    background-color: red;
    height: var(--disc-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.fall {
    animation-name: fall-animation;
    animation-duration: 500ms;
}

@keyframes fall-animation {
    from {
        transform: translateY(calc(-6*100%));
    }
    to {
        transform: translateY(0);
    }
}

/* game grid */

#grid {
    margin-top: var(--header-height);
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: max-content;
    background-color: blue;
    border-radius: calc(var(--disc-size)/2) calc(var(--disc-size)/2) 0 0;
    flex: 10;
}

/* winner pop up */
#show-winner {
    position: absolute;
    display: none;
    border: black solid 5px;
    height: 220px;
    width: 600px;
    z-index: 2;
    text-align: center;
    background-color: white;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

#cross {
    position: inherit;
    right: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: inherit;
    z-index: inherit;
}

#pic {
    height: 130px;
    width: 130px;
}

/* buttons */
#give-up-button {
    cursor: pointer;
}

@media (width <= 480px) and (orientation: portrait) {
    main{
        width: 100vw;
    }

    header > *:first-child {
        display: none;
        visibility: hidden;
    }

    burger-menu {
        display: none;
    }

    :root{
        --disc-size: 10vw;
    }

    header > div:last-child {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (orientation: landscape) and (height <= 480px) {
    :root{
        --disc-size: 11.4vh;
    }
}
