@import "play.css";

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#buttons-container{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.left-right-padding{
    width: 200px;
}

@media (width <= 480px) and (orientation: portrait) {
    #buttons-container {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    #buttons-container > * {
        margin: 30px 3vw
    }
}

@media (orientation: landscape) and (height <= 480px) {
    #grid{
        margin-top: 0;
    }
}