@import "../menu/burgermenu.css";
@import "header.css";
@import "../templates/userInList/UserRepesentationInList.css";
@import "../templates/notificationInList/NotificationRepesentationInList.css";
@import "../templates/validationPopUp/ValidationPopUp.css";
@import "CSSvariables.css";

* {
    font-family: "Verdana";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;

    /* auto height for header then max bottom-content */
    grid-template-rows: auto 1fr;
}

/* header see header.css */

/* main depends on every page, check each page css */
h1 {
    text-align: center;
}

/* buttons */
button {
    background-color: var(--dark-accentuation);
    border: none;
    border-radius: 100vw;
    font-size: 2.3vh;
    cursor: pointer;
}

button a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;
}

button:hover {
    background-color: var(--very-dark-accentuation);
}

.text-input {
    background-color: var(--light-accentuation);
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-size: 1.2vw;
}

#bottom-content {
    display: grid;
    grid-template-columns: auto 1fr;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
