:root {
    --background-color: white;
    --light-accentuation: #f5f5f5;
    --dark-accentuation: #b3b3b3;
    --very-dark-accentuation: #909090;

    /* Color
    --light-accentuation: #67D887;
    --dark-accentuation: #60DE84;
    --very-dark-accentuation: #30A451;
     */

    --bubble-bg-color: #60DE84;
    --bubble-bg-color-accentuation: #30A451;
}
