header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    min-height: 10vh;
}

header > *:not(:first-child) {
/* header the last child*/
/*header > *:last-child {*/
    margin: 10px;
    background-color: var(--light-accentuation-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

header > *:first-child{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: var(--icon-padding);
}

.page-title {
    width: 40vw;
    font-weight: bold;
    font-size: 1em;
}
#username {
}

.top-corner-content {
    min-width: 20vw;
}
