header {
    display: flex;
    justify-content: space-between;

    font-size: 1em;
    height: 11vh;
}

/* header not the first child */
header > *:not(:first-child) {
    margin: 10px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    width: 22vw;
    /* font bold */
    font-weight: bold;
    font-size: 1.5em;
}
#username {
}

.top-corner-content {
    min-width: 20vw;
}