header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    height: 11vh;
}

/* header not the first child */
header > *:not(:first-child) {
    margin: 10px;
    background-color: var(--light-accentuation);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    width: 25vw;
    font-weight: bold;
    font-size: 1em;
}
#username {
}

.top-corner-content {
    min-width: 20vw;
}