main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    grid-gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#button-container * {
    height: 8.6vh;
    width: 100%;

}

#bottom-content{
    display: grid;
    grid-template-rows: 1fr auto;
}

chat-global {
    position: relative;
    height: 30vh;
    right: -5vh;
}

