#button-container {
    display: flex;
    flex-direction: column;
    grid-gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#button-container * {
    height: 8.6vh;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-button {
    width: 100%;
}

.half-home-button {
    width: 50%;
}

.wrapper {
    display: grid;
    grid-template: 10vh 1fr / 8vw 1fr;
}


.wrapper > header {
    grid-area: 1 / 1 / 1 / span 2
}

.wrapper > main {
    grid-area: 2 / 2;
    position: absolute;
    top: 35%;
    left: 30%;

}
