@import "play.css";
@import "ai/ai.css";

/* timer */

#timer-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;

}

#timer {
    font-size: 1.2rem;
    font-weight: bold;
}

/* chat */
#chat {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 80vh;
    background-color: darkslategrey;
}

.bulle {
    height: fit-content;
    width: 120px;
    padding: 15px;
    background-color: var(--bubble-bg-color);
    text-align: center;
    margin: 5px;
}

.bulle > p {
    font-size: 1rem;
}

.round {
    border-radius: 30px;
}

.bulle-texte {
    padding: 0.5em;
    text-align: center;
    line-height: 0.2em;
}

#info {
    margin-top: 10px;
    text-align: center;
}

#left-container {
    justify-items: center;
    align-items: center;
}

#left-container {
    margin-left: 80px;
    margin-right: 80px;
    width: 300px;
    margin-top: 20px;
}


#left-container > img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#chat-temp-button {
    margin-top: 10px;
}

#give-up-button {
    margin-top: 80px;
    margin-bottom: 80px;
}

#grid-container {
    align-items: center;
}

.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.chat-container > div {
    margin-left: 30px;
}

#all-message-container {
    margin-top: 30px;
}

.send:hover {
    background-color: var(--bubble-bg-color-accentuation);
}

#left-container > button {
    padding: 10px;
}

#give-up-button {
    margin-bottom: 0;
}
