/* game grid */
#grid-div {
    display: flex;
    justify-content: center;
}

#winner {
    position: absolute;
    right: 0%;
    top: 40%;
    width: 20vw;
    height: 80vh;
    font-size: 50px;
    color: black;

}

.grid-item {
    border-radius: 50%;
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 3px;
    cursor: pointer;
}

.fall {
    animation-name: fall-animation;
    animation-duration: 500ms;
}

@keyframes fall-animation {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: max-content;
    background-color: blue;
    transform: rotate(90deg)
}

#chat {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 80vh;
    background-color: darkslategrey;
}

#button-abandon {
    position: absolute;
    bottom: 30px;
    left: 9vw;
}

.yellow-piece {
    background-color: yellow;
}

.red-piece {
    background-color: red;
}

.wrapper {
    display: grid;
    grid-template: 10vh 1fr / 8vw 1fr;
}

.wrapper > header {
    grid-area: 1 / 1 / 1 / span 2
}

.wrapper > main {
    grid-area: 2 / 2;
}




