main{
    padding: 0 0;

}

main > * {
    margin-top: 50px;
    text-align: center;
}

#salutation {
    font-size: 1.4rem;
    font-weight: bold;
}

li {
    margin-left: 2em;
}

#achievements {
    flex-wrap: wrap;

}

@media (width <= 480px) and (orientation: portrait) {
    #achievements > div {
        width: 50%;
        height: 50%;
    }
}
