:root {
    --background-color: white;
    --light-accentuation: #f5f5f5;
    --dark-accentuation: #b3b3b3;
    --very-dark-accentuation: #909090;

    --icon-width: 35px;
}

nav {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav img {
    width: var(--icon-width);
}

nav > * {
    padding: 19px;
}

nav > a {
    height: var(--icon-width);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-decoration: none;
}

nav > * > button {
    display: none;
    cursor: pointer;

    margin-left: 2vw;

    border: none;
    border-radius: 100vw;
    font-size: 2.3vh;

    width: 100%;
    height: 100%;
    
    background-color: var(--dark-accentuation);
}

nav > * > button:hover {
    background-color: var(--very-dark-accentuation);
}

/* hamburger icon animation */
.bar {
    display: block;
    width: var(--icon-width);
    height: 5px;
    margin: 6px auto;
    background-color: black;

    /* fade in animation on page load */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}