:root {
    --image-width: 80px;
}
.achievement-img {
    margin-top: 25px;
    width : var(--image-width);
    aspect-ratio: 1/1;
}

.achievement-notfound {
    filter: opacity(0.5);
}

.achievement-info{
    width: var(--image-width);
    aspect-ratio: 1/1;
    /*center the inner text*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#achievements {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
