.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* display: flex; */
    /* flex-direction: column; */
    height: 90%;
}

.popup-container > img {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.popup-container > p {
    font-size : 1.4rem;
}

.img-container > img {
    width: 18px;
    height: 18px;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}


.buttons-popup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.buttons-popup > button, .popup-container > button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-accentuation-color);
    cursor: pointer;
}

.buttons-popup > button:hover {
    background-color: var(--very-dark-accentuation-color);
}

@media (orientation: landscape) and (height<=480px) {
    .popup-container > img{
        height: 50%;
        width: 70%;
        margin-left: 2.2em;
    }
}
