main {
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div > button {
    width: 10em;
    margin-top: 50px;
}

h2 {
    margin-top: 50px;
    text-align: center;
}

@media (width <= 480px) and (orientation: portrait) {
    main {
        padding: 0;
    }

    main > div > button {
        width: 7em;
        margin-top: 50px;
    }
}

@media (orientation: landscape) and (height <= 480px) {
    main {
        padding: 0;
    }
}