main {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width<=480px) and (orientation: portrait) {
    main {
        margin: 0;
    }
    /* alll children of #notifications-container */
    #notifications-container * {
        font-size: 1em;
    }
}
