main {
    padding: 10%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

main > * {
    margin: 0.5em;
}

#salutations{
    display: flex;
    flex-direction: row;
}

#salutations > * {
    margin: 0 0.2em;
}