main {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#users-friends > div > *:first-child,
#users-pending > div > *:first-child,
#users-requests > div > *:first-child {
    width: 250px;
    min-width: 250px;
}

#users-friends > div > div > button,
#users-pending > div > div > button,
#users-requests > div > div > button {
    width: 150px;
}

#friends-main {
    margin-top: 30px;
    margin-left: 100px;
}

#friends-main > h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

@media (width<=480px) and (orientation: portrait) {
    #friends-main{
        margin: 0;
    }
    #users-friends > div,
    #users-pending > div,
    #users-requests > div {
        display: flex;
        flex-flow: wrap;
    }

    #users-friends > div > *:first-child,  #users-friends > div > *, #users-friends, #users-friends > *,
    #users-pending > div > *:first-child, #users-pending > div > *, #users-pending, #users-pending > *,
    #users-requests > div > *:first-child, #users-requests > div > *, #users-requests, #users-requests > *{
        width: 100%;
    }
}