@import "../commonCSS/CSSvariables.css";

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main > * {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

main img {
    width: var(--icon-width);
    aspect-ratio: 1/1;
}

.nav-link.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-link.menu > button {
    border: none;
    border-radius: 1000px;

    width: 180px;
    height: 40px;

    padding: 10px;
}
