main {
    display: flex;
    align-items: center;
    justify-content: center;

}

#button-container, form{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-top: 50px;
    flex-grow: 1;
    max-width: 600px;
}

#button-container form * {
    height: 4em;
    width: 100%;
}

#button-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-container > div > * {
    height: 4em;
    width: 42%;
}

.home-button{
    margin:0;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}
