input {
    width: 25vw;
    height: 4vh;
    padding: 0.5vw;
    border-radius: 50px;
}

main {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#users-friends > div > *, #users-pending > div > *, #users-requests > div > * {
    margin: 0.5vw;
    padding: 0.5vw;
}

#friends-main {
    margin : 40px;
}

#friends-main > h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}
