main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 33em;
}

@media (width<=480px) and (orientation: portrait) {
    #button-container {
        width: 80%;
    }
}

#button-container * {
    height: 100px;
    width: 100%;
}

#bottom-content{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: start;
}
