main {
    display: flex;
    justify-content: center;
}

#button-container{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 33em;
}

#button-container * {
    height: 20%;
    width: 100%;
}


@media (width<=480px) and (orientation: portrait) {
    #button-container {
        width: 80%;
    }
}

@media (height<=480px) and (orientation: landscape) {
    #button-container {
        width: 80%;
        height: 100%;
    }

    #button-container * {
        height: initial;
        width: 100%;
    }

}


