@import "../commonCSS/CSSvariables.css";
/*
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
}

nav img {
    width: var(--icon-width);
}

nav > * {
    padding: var(--icon-padding);
}

nav > a {
    height: var(--icon-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}



nav > * > button:hover {
    background-color: var(--very-dark-accentuation-color);
}
*/
#menu-buttons>  * > button {
    cursor: pointer;
    border: none;
    border-radius: 1000px;
    font-size: 1.7em;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--dark-accentuation-color);
}
nav {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
}

nav > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
nav >div img {
    width: var(--icon-width);
}

nav > div > * {
    padding: var(--icon-padding);
}
nav > div >a {
    height: var(--icon-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}
#menu-icons {
    height: 100%;
    background: var(--light-accentuation-grey)
}

#menu-buttons {
    width: calc(100% - var(--icon-width) - 2*var(--icon-padding));
    height: 100%;
    background: var(--light-accentuation-grey);
    display: none;
    position: fixed;
    left: calc(var(--icon-width) + 2*var(--icon-padding));
}
/* hamburger icon animation */
.bar {
    display: block;
    width: var(--icon-width);
    height: 5px;
    margin: 6px auto;
    background-color: black;

    /* fade in animation on page load */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

#other-button, #other {
    display: none;
}
/*
@media (width <= 480px) and (orientation: portrait) {
    nav > * > button {
        font-size: 2em;
        width: 70vw;
    }
}
*/
@media (orientation: landscape) and (height <= 480px) {
    #other, #other-button {
        display: inherit;
    }

    #profile, #profile-button,
    #friends, #friends-button,
    #addFriends, #addFriends-button,
    #ranking, #ranking-button,
    #logout, #logout-button {
        display: none;
    }

    /*nav > * {
        margin-top: -12px;
    }

    nav > * > button {
        font-size: 1.3em;

        width: 80%;
        height: 40px;

    }*/
}
