@import "../commonCSS/CSSvariables.css";

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav img {
    width: var(--icon-width);
}

nav > * {
    padding: var(--icon-padding);
}

nav > a {
    height: var(--icon-width);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-decoration: none;
}

nav > * > button {
    display: none;
    cursor: pointer;

    margin-left: 1em;

    border: none;
    border-radius: 1000px;
    font-size: 2.3em;

    width: 100%;
    height: 60px;

    padding: 10px;

    background-color: var(--dark-accentuation-color);
}

nav > * > button:hover {
    background-color: var(--very-dark-accentuation-color);
}

/* hamburger icon animation */
.bar {
    display: block;
    width: var(--icon-width);
    height: 5px;
    margin: 6px auto;
    background-color: black;

    /* fade in animation on page load */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

@media (width<=480px) and (orientation: portrait) {
    nav > * > button {
        font-size: 2em;
        width: 70vw;
    }
}
