main {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 1em;
    height: 11vh;
}

header > * {
    margin: 10px;
    background-color: var(--light-accentuation);
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    grid-gap: 1vw;
}

#button-container form{
    display: flex;
    flex-direction: column;
    grid-gap: 1vw;
    width: 33vw;
}

#button-container form * {
    height: 8.6vh;
    width: 100%;
}

#button-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-container > div > * {
    height: 8.6vh;
    width: 40%;
}