:root {
    --background-color: white;
    --light-accentuation-color: #B6FFC0/*#f5f5f5*/;
    --dark-accentuation-color: #49E66E /*#b3b3b3*/;
    --very-dark-accentuation-color: #0E993A /*#909090*/;

    --light-accentuation-grey: #f5f5f5;
    --dark-accentuation-grey: #b3b3b3;
    --very-dark-accentuation-grey: #909090;


    --bubble-bg-color: /*#CA6CE6;*/ /*#FF94B9*/ /*#60DE84*/ var(--dark-accentuation-color);
    --bubble-bg-color-accentuation: /*#8D3DA6;/*#F03C7B*/ /*#30A451*/ var(--very-dark-accentuation-color);

    --icon-width: 35px;
    --icon-padding: 22px;
}
