header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    min-height: 100px;
    min-width: 100vw;
    width: 100vw;
}

header > *:not(:first-child) {
    margin: 10px;
    background-color: var(--light-accentuation-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

header > *:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: var(--icon-padding);
    padding-left: var(--icon-padding);
}

#header-center-div {
    background-color: white;
}

.page-title {
    width: 30em;
    font-weight: bold;
    font-size: 1em;
}

.top-corner-content {
    min-width: 13em;
}

@media (orientation: portrait) {
    .top-corner-content {
        width: 79px;
        padding: 0;
        margin: 0;
    }
}

@media (width<=840px) {
    .top-corner-content {
        font-size: 0.9em;
    }
}

@media (width<=820px) {
    .top-corner-content {
        font-size: 0.8em;
    }
}

@media (width < 777px) {
    .top-corner-content {
        font-size: 0.75em;
    }
}

@media (width <= 730px) {
    header > .top-corner-content {
        display: none;
        font-size: 0;
    }

    header > .page-title {
        width: 100%;
        margin: 10px 15%;
    }
}

@media (width<=560px) {
    header > *:nth-child(3) {
        width: 100%;
        margin: 10px 10%;
    }
}
